.App {
    display: flex;
    width: 100vw;
    .content {
        transition: width .4s;
        &-wide {
            width: 100%;
        }
        &-narrow {
            width: 80%;
        }
    }
}
