@import '_utils.scss';

.Category-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 2px solid $bk6;
    font-size: 18px;
    color: $bk8;
    > div {
        display: flex;
        justify-content: space-around;
        width: 70%;
        .Category {
            cursor: pointer;
        }
    }
}
