@import '_utils.scss';

.filters {
    display: flex;
    // flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 30%;
    height: 100vh;
    border-right: $border;
    padding-right: 5px;
    overflow-y: scroll;


    > div {
        // border: 1px solid orange;
    }
    .source {
        border: 1px solid $bk8;
        border-radius: 20px;
        padding: 5px 10px;
        display: inline-block;
        margin: 5px;
        cursor: pointer;
        font-size: 12px;
        // color: #555;
    }
    > div:nth-child(1) {
        // display: flex;
        // border: 1px solid blue;
        margin: 10px;
        padding: 5px 10px;
        font-size: 30px;
        cursor: pointer;
        color: $bk6;
    }
}

.selected {
    background-color: $bk8;
    color: #fff;
}