@import '_utils.scss';

.Filters {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: scroll;
    padding-top: 20px;
    border-right: $border;
    font-family: 'Unna', serif;
    transition: width .4s;
    &-show {
        width: 20%;
    }
    &-hide {
        width: 0%;
    }
}

.Source-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    .Source-title {
        margin: 20px 0;
        font-size: 16px;
    }
    > div:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        .Source {
            display: inline-block;
            margin: 5px;
            padding: 5px 10px;
            border: 1px solid $bk8;
            border-radius: 20px;
            font-size: 12px;
            cursor: pointer;
            &-title {
                padding: 15px 0;
                text-align: center;
            }
            &-selected {
                background-color: $bk8;
                color: #fff;
            }
        }
    }
}
