@import '_utils.scss';

.Modal-wrapper {
    font-family: 'Unna', serif;
}

.Modal-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $bk9;
    &-fadeout {
        animation: fadeout .3s;
        animation-delay: .2s;
    }
}

.Modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 30px 40px;
    background-color: #fff;
    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    > div:nth-child(1) {
        padding: 10px 0;
        margin-bottom: 10px;
        img {
            max-height: 250px;
        }
    }
    > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        > div {
            margin-bottom: 13px;
        }
        > div:nth-child(1) {
            width: 90%;
            display: -webkit-box;
            overflow: hidden;
            max-height: 67px;
            text-overflow: ellipsis;
            /* autoprefixer: ignore next */
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            color: $bk8;
            font-size: 27px;
            text-align: center;
        }
        > div:nth-child(2) {
            display: flex;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            div {
                margin-right: 20px;
                color: $bk5;
            }
            div:nth-child(3) {
                margin-right: 0;
            }
        }
        > div:nth-child(3) {
            color: $bk7;
            > div {
                column-count: 2;
                column-gap: 20px;
                text-align: justify;
            }
            > div::first-letter {
                float: left;
                font-size: 3em;
                margin: 0 .2em -.2em 0;
            }
            span:nth-child(2) {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
                a {
                    text-decoration: none;
                    color: $bk7;
                }
            }
        }
    }

    &-up {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: up .4s ease;
    }
    &-down {
        top: 100%;
        left: 50%;
        transform: translate(-50%);
        animation: down .2s ease-out;
    }
}

@keyframes up {
    from {top: 100%;}
    to {top: 50%;}
}

@keyframes down {
    from {top: 50%;}
    to {top: 100%;}
}

@keyframes fadeout {
    from {background-color: $bk9;}
    to {background-color: $bk0;}
}
